.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#todo-list {
  width: 400px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 2px solid lightgray;
  padding: 6%;
  width: 240px;
  display: flex;
  justify-content: space-between;
}

.input-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.add-input {
  width: 45%;
}

.task {
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-completed .todo-item-edit {
  text-decoration: line-through;
  color: #ccc;
}
.icon{
  width: 17px;
  background: url(./sUqME.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.icon:hover{
  background: url(./1175088.png);
  width: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}